@model IEnumerable<COMP2139_ICE.Areas.ProjectManagement.Models.Project>



<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.EndDate.ToShortDateString()</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="ProjectTasks" asp-action="Index" asp-route-projectId="@item.Id">View Tasks</a>
            </td>
        </tr>
    }
    </tbody>
</table>